.Main-Background {
    width: 75%;
    height: 6200px;
    left: 12.5%;
    position: absolute;
    background-color: #1a1b1d;
    opacity: 85%;
    border-radius: 50px;
    padding-top: 8px;
    top: 15px;
}

.Main-Background-Herbivores {
    width: 75%;
    height: 7500px;
    left: 12.5%;
    position: absolute;
    background-color: #1a1b1d;
    opacity: 85%;
    border-radius: 50px;
    padding-top: 8px;
    top: 15px;
}

.Main-Background-Scavengers {
    width: 75%;
    height: 3750px;
    left: 12.5%;
    position: absolute;
    background-color: #1a1b1d;
    opacity: 85%;
    border-radius: 50px;
    padding-top: 8px;
    top: 15px;
}

.Main-Background-Mort {
    width: 75%;
    height: 2200px;
    left: 12.5%;
    position: absolute;
    background-color: #1a1b1d;
    opacity: 85%;
    border-radius: 50px;
    padding-top: 8px;
    top: 15px;
}

.Logo-Discord {
    width: 400px;
    height: 200px;
}

.Logo-Youtube {
    width: 400px;
    height: 220px;
}

.Logo-Steam {
    width: 200px;
    height: 200px;
}

.Dispo-Logo-Link {
    text-align: center;
}

.Icon-Subnautica {
    width: 80px;
    height: 60px;
}

.Dificulty-LV-Text {
    text-align: center;
    font-size: 85px;
    color: rgb(250, 185, 7);
    font-family: fantasy;
    font-style: italic;
}

#Dificulty-LV-Text {
    text-align: center;
    font-size: 85px;
    color: rgb(189, 37, 37);
    font-family: fantasy;
    font-style: italic;
}

.Biomes-Title {
    text-align: center;
    font-size: 85px;
    color: rgb(250, 185, 7);
    font-family: fantasy;
    font-style: italic;
}

.Mobs-Carnivores-Text {
    text-align: center;
    font-size: 85px;
    color: rgb(189, 37, 37);
    font-family: fantasy;
    font-style: italic;
}

.Mobs-Herbivores-Text {
    text-align: center;
    font-size: 85px;
    color: rgb(43, 199, 50);
    font-family: fantasy;
    font-style: italic;
}

.Mobs-Scavengers-and-Parasites-Text {
    text-align: center;
    font-size: 85px;
    color: rgb(170, 13, 209);
    font-family: fantasy;
    font-style: italic;
}

.Mobs-Extinct-Species-Text {
    text-align: center;
    font-size: 85px;
    color: rgb(170, 13, 209);
    font-family: fantasy;
    font-style: italic;
}

.Dispo-Mobs {   
    flex-wrap: wrap;        /*Je ne sais pas pourquoi mon code pour effectuer le flex wrap ne marche pas j'ai donc contournée le problème en ajoutant un fond noire derrière*/
    display: inline-block;
}

table{
    table-layout: fixed;
    width:100%;
}

table, td, tr{
  
    border:2px solid rgb(87, 22, 238);
}

.Images-Biomes {
    width: 100%;
}

.Images-Mobs {
    width: 30%;
}

.Texte-index {
    text-align: center;
    font-size: 50px;
}

.Texte-index-center {
    text-align: center;
}

#Unknown-Studio {
    width: 25%;
}

.Texte-Other {
    text-align: center;
    font-size: 55px;
    color: rgb(32, 219, 194);
    font-family: fantasy;
    font-style: italic;
}

.Texte-Other-center {
    text-align: center;
}

#Charlie {
    width: 50%;
}