.Main-Background {
    width: 75%;
    height: 95%;
    left: 12.5%;
    position: absolute;
    background-color: #1a1b1d;
    opacity: 85%;
    border-radius: 50px;
    padding-top: 8px;
    top: 15px;
}

.Logo-Discord {
    width: 400px;
    height: 200px;
}

.Logo-Youtube {
    width: 400px;
    height: 220px;
}

.Logo-Steam {
    width: 200px;
    height: 200px;
}

.Dispo-Logo-Link {
    text-align: center;
}

.Icon-Subnautica {
    width: 80px;
    height: 60px;
}

.Dificulty-LV-Text {
    text-align: center;
    font-size: 85px;
    color: rgb(250, 185, 7);
    font-family: fantasy;
    font-style: italic;
}

#Dificulty-LV-Text {
    text-align: center;
    font-size: 85px;
    color: rgb(189, 37, 37);
    font-family: fantasy;
    font-style: italic;
}

.Biomes-Title {
    text-align: center;
    font-size: 85px;
    color: rgb(250, 185, 7);
    font-family: fantasy;
    font-style: italic;
}

.Mobs-Carnivores-Text {
    text-align: center;
    font-size: 85px;
    color: rgb(189, 37, 37);
    font-family: fantasy;
    font-style: italic;
}

.Dispo-Mobs {
    justify-content: space-around;
    flex-wrap: wrap;
}


table{
    table-layout: fixed;
    width:100%;
}

table, td, tr{
  
    border:2px solid rgb(87, 22, 238);
}

.Images-Biomes {
    width: 100%;
}

.Images-Mobs {
    width: 100%;
}